<% form_tag :controller => "joueurs", :action => "login" do %>
  <p>
    <%= label :pseudo, "pseudo" %><br />
    <%= text_field_tag :pseudo, params[:pseudo] %>
  </p>
  <p>
    <%= label :password, "Mot de passe" %><br />
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag 'Connexion' %>
  </p>
<% end %>

<p>Pas encore de compte ? <%= link_to "Inscrivez-vous maintenant", :controller => "joueurs", :action => "new" %></p>
