<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title %> - Code Terminal</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div style="height:50px; padding-top:10px">

<div style="font-size:xx-large; color:grey; font-weight:bold; float:left">
  <%= link_to "Code Terminal", {:controller => "index"}, {:style => "text-decoration:none"} %>
</div>


<div style="float:right; text-align:right;">
  <% if session[:joueur_id] == nil %>
    <%= link_to 'Connexion', :controller => "joueurs", :action => "login" %> |
    <%= link_to 'Inscription', :controller => "joueurs", :action => "new" %>
  <% else %>
    Bienvenue <%= @joueur.pseudo %> ! 
    <%= link_to 'Profil', :controller => "joueurs", :action => "show", :id => @joueur.id %> |
    <%= link_to 'Déconnexion', :controller => "joueurs", :action => "logout" %>
  <% end %>
</div>

</div>

<hr />

<p style="color: green">
  <%= flash[:notice] %>
</p>

<%= yield %>

</body>
</html>
